cloud:
  aws:
    credentials:
      access-key: AKIA2O52BXHIE6G5IZPW
      secret-key: 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
    region:
      static: us-east-1
    stack:
      auto: false

application:
  bucket:
    name: compersonal-bucket


spring:
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2MB
      max-file-size: 5MB
      max-request-size: 10MB

server:
  port: 8080