@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.background {
	background-image: url(https://i.pinimg.com/originals/72/dc/f2/72dcf2d1fcbb8e5a0425ca0adf11ae4e.jpg);
	background-size: cover;
	background-position: 0% -10%;
	position: relative;
	background-size: cover;
	background-color: rgba(141, 141, 141, 0.6);
}

.background main {
	min-height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(141, 141, 141, 0.6);
}

.index main {
	min-height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.fonte-branca {
	color: white;
}

.background-card {
	background-color: rgb(255, 255, 255) !important;
}

.background-card2 {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.fonte {
	font-family: 'Open Sans', sans-serif;
}

.larguraFormulario {
	min-width: 25rem !important;
}

.botao-login {
	background-color: rgb(214, 68, 0) !important;
	color: white !important;
	border-color: black !important;
	width: 8rem !important;
}

.cor-botao {
	background-color: rgb(214, 68, 0) !important;
	color: white !important;
}

.cor-chat {
	color: rgb(214, 68, 0) !important;
}
.cor-borda {
	border-color: white !important;
}