@charset "UTF-8";

.background-navbar {
	background-color: rgba(236, 100, 75, 1);
}

.background-footer {
	background-color: rgba(217, 30, 24, 0.7);
}

.imagem-carrosel {
	object-fit: cover;
	height: 400px;
	object-position: 0 10%;
}

.cor-borda-pagamento {
	border-color: rgb(214, 68, 0) !important;
}

.cor-background-card-header {
	background-color: rgb(214, 68, 0) !important;
}

html, body {
	height: 100%;
}

.geral {
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.botao-test:hover {
	background-color: rgb(214, 68, 0) !important;
	color: white !important;
}

.borda-page {
	border-color: rgb(214, 68, 0) !important;
	color: rgb(214, 68, 0) !important;
}

.borda-botao {
	border-color: rgb(214, 68, 0) !important;
	width: 8rem !important;
}
.borda-chat {
	border-color: rgb(214, 68, 0) !important;
	border-color: rgb(214, 68, 0) !important;
}
.borda-neew {
	border-color: rgb(214, 68, 0)!important;
}

.largura {
	display: inline;
}

#calendar {
	max-width: 750px;
	margin: 0 auto;
}

.modi:hover {
	background-color: white !important;
	color: black !important;
}

/* Início chat do personal */

::-webkit-scrollbar {
	width: 5px;
}
  
::-webkit-scrollbar-track {
	width: 5px;
	background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	width: 1em;
	background-color: #ddd;
	outline: 1px solid slategrey;
	border-radius: 1rem;
}

.text-small {
	font-size: 0.9rem;
}

.messages-box,
.chat-box {
	height: 510px;
	overflow-y: scroll;
}

.rounded-lg {
	border-radius: 0.5rem;
}

input::placeholder {
	font-size: 0.9rem;
	color: #999;
}
/* Final chat do personal */
