<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<head th:replace="~{base::head(Alunos)}"></head>

<body class="background">
	<main class="geral">
		<div>
			<nav th:replace="~{base::navbar}"></nav>

			<article class="d-flex align-items-stretch">

				<div th:replace="~{base::sidebar}"></div>
				<div class="container">
					<div class="p-5">
						<div class="row d-flex justify-content-between">
							<div class="card mb-3 row col-lg-6"
								th:each="usuarioDto : ${estudantes}">
								<div class="row g-0">
									<div
										class="col-md-3 d-flex justify-content-center align-items-center">
										<a
											th:href="@{/alunos/perfil/{email}(email=${usuarioDto.email})}"><img
											class="img-thumbnail m-1" width="150"
											style="max-height: 150px !important;"
											th:src="${usuarioDto.foto}"></a>
									</div>
									<div class="col-md-9">
										<div class="card-body">
											<a
												th:href="@{/alunos/perfil/{email}(email=${usuarioDto.email})}"
												class="link-dark">
												<h5 class="card-title">Aluno</h5>
											</a>
											<div>
												<h5 class="card-title largura">Nome:</h5>
												<p class="card-text largura"
													th:text="${usuarioDto.primeiroNome}">Nome:</p>
												<p class="card-text largura"
													th:text="${usuarioDto.ultimoNome}">Último Nome:</p>
											</div>
											<div>
												<h5 class="card-title largura">Email:</h5>
												<p id="email" class="card-text largura"
													th:text="${usuarioDto.email}">Email:</p>
											</div>
											<div>
												<h5 class="card-title largura">Telefone:</h5>
												<p class="card-text largura"
													th:text="${usuarioDto.telefone}">Telefone:</p>
											</div>
											<!--<a class="card-text btn cor-botao">Baixe o material</a>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<div class="d-flex justify-content-center fixed-bottom mb-5">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a
							class="page-link borda-page botao-test" th:if="${pagina-1}>=0"
							th:href="${pagina-1}"> <span aria-hidden="true">&laquo;</span></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test" th:if="${pagina-1}<0"
							th:href="${numeroPagina-1}"> <span aria-hidden="true">&laquo;</span></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test" th:text="${pagina+1}"></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test"
							th:if="${pagina+1}!=${numeroPagina}" th:href="${pagina+1}"> <span
								aria-hidden="true">&raquo;</span></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test"
							th:if="${pagina+1}==${numeroPagina}" th:href="0"> <span
								aria-hidden="true">&raquo;</span></a></li>
					</ul>
				</nav>
			</div>
			<footer th:replace="~{base::footer}"></footer>
			<!-- JavaScript Bundle with Popper -->
			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
				crossorigin="anonymous"></script>
	</main>
</body>

</html>