<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<head th:replace="~{base::head(Aulas)}"></head>


<body class="background">

    <nav th:replace="~{base::navbar}"></nav>

    <article class="d-flex align-items-stretch">

        <div class="d-flex flex-column p-3 text-white bg-dark"
		style="min-width: 280px; height: 100vh;">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap" />
			</svg>
			<span class="fs-4">Minhas Aulas</span>
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto sidebar">
			<li>
				<a href="#" class="nav-link text-white"><svg class="bi me-2" width="16" height="16"></svg>Agendar
					Aula</a>
			</li>
			<li>
				<a href="#" class="nav-link text-white"><svg class="bi me-2" width="16" height="16"></svg>Calendário</a>
			</li>
			<li>
				<a href="#" class="nav-link text-white"><svg class="bi me-2" width="16" height="16"></svg>Dashboard</a>
			</li>
			<hr>
			<li>
				<div class="dropdown bi me-2  text-white" width="16" height="16">
					<a href="#" class="d-flex btn align-items-center text-white text-decoration-none dropdown-toggle"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
					<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
						<li><a class="dropdown-item" href="#">Personalizada</a></li>
						<li><a class="dropdown-item" href="#">Glúteo</a></li>
						<li><a class="dropdown-item" href="#">Abdomen</a></li>
						<li><a class="dropdown-item" href="#">Costas</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

        <div class="p-3">
            <div class="card mb-3">
                <div class="card-body" > <!-- flex-column --> <!-- style="max-width: 720px;" -->
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube-nocookie.com/embed/3RbSxtIkpd4?rel=0" title="YouTube video"
                            allowfullscreen></iframe>
                    </div>
                    <div class="card-body ">
                        <article class="cor-borda mt-1 background-card">
                            <div>
                                <h2>Titulo da Aula</h2>
                                <!-- <h5 class="card-title" th:text="${aula.titulo}">Titulo da Aula</h5> -->
                                <p>Descrição da Aula Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim
                                    veniam.</p>
                                <!-- <p class="card-text" th:text="${aula.descrição}">Descrição da Aula</p>  -->
                                <a class="btn cor-botao">Baixe o material</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!--   <object width="600" height="780" data="http://www.subsecmilitar.rj.gov.br/sites/default/files/2020-03/TREINO%20FUNCIONAL%20PARA%20FAZER%20EM%20CASA.pdf" type="application/pdf">
            <p>Seu navegador não tem um plugin pra PDF</p>
        </object> -->
        <!--      <iframe class="d-flex justify-content-center"
            src="http://www.subsecmilitar.rj.gov.br/sites/default/files/2020-03/TREINO%20FUNCIONAL%20PARA%20FAZER%20EM%20CASA.pdf"
            width="70%" height="780" style="border: none;"></iframe>
        -->

    </article>

    <!-- <footer th:replace="~{base::footer}"></footer> -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>