<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<!-- Tópico 3.1 e 3.4 -->

<head th:replace="~{base::head(Aulas)}"></head>


<body class="background">
	<div class="geral">
		<nav th:replace="~{base::navbar}"></nav>

		<article class="d-flex align-items-stretch">

			<div class="d-flex flex-column p-3 text-white background-navbar"
				style="min-width: 200px; height: 55vmax;">
				<a href="/"
					class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap" />
					</svg> <span class="fs-4">Minhas Aulas</span>
				</a>
				<hr>
				<ul class="nav nav-pills flex-column mb-auto sidebar">
					<li>
						<div class="dropdown bi me-2 text-white background-navbar">
							<a href="#"
								class="d-flex btn align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1" data-bs-toggle="dropdown"
								aria-expanded="false">Glúteo</a>
							<ul class="dropdown-menu shadow" aria-labelledby="dropdownUser1">
								<li><a class="dropdown-item" href="#">Título Aula 01</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 02</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 03</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 04</a></li>
							</ul>
						</div>
					</li>
					<hr>
					<li>
						<div class="dropdown bi me-2 text-white">
							<a href="#"
								class="d-flex btn align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1" data-bs-toggle="dropdown"
								aria-expanded="false">Perna</a>
							<ul class="dropdown-menu dropdown-menu text-small shadow"
								aria-labelledby="dropdownUser1">
								<li><a class="dropdown-item" href="#">Título Aula 01</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 02</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 03</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 04</a></li>
							</ul>
						</div>
					</li>
					<hr>
					<li>
						<div class="dropdown bi me-2 text-white">
							<a href="#"
								class="d-flex btn align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1" data-bs-toggle="dropdown"
								aria-expanded="false">Abdomen</a>
							<ul class="dropdown-menu dropdown-menu text-small shadow"
								aria-labelledby="dropdownUser1">
								<li><a class="dropdown-item" href="#">Título Aula 01</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 02</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 03</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 04</a></li>
							</ul>
						</div>
					</li>
					<hr>
					<li>
						<div class="dropdown bi me-2 text-white">
							<a href="#"
								class="d-flex btn align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1" data-bs-toggle="dropdown"
								aria-expanded="false">Costas</a>
							<ul class="dropdown-menu dropdown-menu text-small shadow"
								aria-labelledby="dropdownUser1">
								<li><a class="dropdown-item" href="#">Título Aula 01</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 02</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 03</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 04</a></li>
							</ul>
						</div>
					</li>
					<hr>
					<li>
						<div class="dropdown bi me-2 text-white">
							<a href="#"
								class="d-flex btn align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1" data-bs-toggle="dropdown"
								aria-expanded="false">Personalizadas</a>
							<ul class="dropdown-menu dropdown-menu text-small shadow"
								aria-labelledby="dropdownUser1">
								<li><a class="dropdown-item" href="#">Título Aula 01</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 02</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 03</a></li>
								<li><a class="dropdown-item" href="#">Título Aula 04</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<!-- Final da sidebar -->

			<div class="p-4 col-lg-10">
				<div class="container card background-card mb-1">
					<header
						class="card-body d-flex flex-wrap justify-content-center py-3">
						<h2 class="me-5" th:text="${aula.titulo}">Titulo da Aula</h2>
						<div class="ms-5" th:replace="~{chat-aluno::chat}"></div>
						<a href="#" class="btn cor-botao nav-link">Próxima Aula</a>

					</header>
				</div>

				<div class="card container">
					<div class=" p-2">
						<div class="ratio ratio-16x9 col-lg-12" style="max-height: 420px">
							<iframe max-width="560" height="315" th:src="${aula.video}"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
						<div class="card-body ">
							<article class="cor-borda mt-0 background-card">
								<p th:text="${aula.descricao}">Descrição da Aula</p>
								<a th:href="${aula.pdf}" class="btn cor-botao">Baixe o
									material</a>
							</article>
						</div>
					</div>
				</div>
			</div>

			<footer th:replace="~{base::footer}"></footer>
		</article>
	</div>

	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
	</div>
</body>

</html>