<html lang="pt-br">

<!-- Código base -->

<head th:fragment="head(titulo)">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" href="/cadastro.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet"
	href="https://unpkg.com/balloon-css/balloon.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">

<link href='css/fullcalendar.min.css' rel='stylesheet' />
<link href='css/fullcalendar.print.min.css' rel='stylesheet'
	media='print' />
<script src="https://kit.fontawesome.com/33f3498f19.js"
	crossorigin="anonymous"></script>

</head>

<body>
	<nav th:fragment="navbar"
		class="navbar navbar-expand-lg navbar-light p-1 background-navbar">
		<div class="container-fluid">
			<a class="navbar-brand text-light">Compersonal</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active text-light"
						sec:authorize="!isAuthenticated()" aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a aria-label="DashBoard"
						data-balloon-pos="down" class="nav-link text-light mx-2"
						sec:authorize="hasAnyAuthority('Usuario')" href="/dashboard/aluno"><i
							class="fas fa-chart-line fa-lg"></i></a></li>
					<li class="nav-item"><a aria-label="DashBoard"
						data-balloon-pos="down" class="nav-link text-light mx-2"
						sec:authorize="hasAnyAuthority('Personal')"
						href="/dashboard/personal"><i class="fas fa-chart-line fa-lg"></i></a></li>
					<li class="nav-item"><a class="nav-link text-light"
						sec:authorize="!isAuthenticated()" href="/planos">Planos</a></li>
					<li class="nav-item"><a aria-label="Meu Plano"
						data-balloon-pos="down" class="nav-link text-light mx-2"
						sec:authorize="hasAnyAuthority('Usuario')" href="/planos"><i
							class="far fa-credit-card fa-lg"></i></a></li>
					<li class="nav-item"><a aria-label="Mensagens"
						data-balloon-pos="down" class="nav-link text-light mx-2"
						sec:authorize="hasAnyAuthority('Personal')" href="/mensagem"><i
							class="far fa-comments fa-lg"></i></a></li>
					<li class="nav-item"><a aria-label="Meu Perfil"
						data-balloon-pos="down" class="nav-link text-light mx-2"
						sec:authorize="isAuthenticated()" href="/perfil"><i
							class="far fa-user fa-lg"></i></a></li>
					<li class="nav-item"><a class="nav-link text-light"
						sec:authorize="!isAuthenticated()" href="/cadastro">Criar
							conta</a></li>
					<li class="nav-item"><a aria-label="Sair"
						data-balloon-pos="down"
						onclick="document.querySelector('#form-login').submit()"
						class="nav-link btn text-light modi"
						sec:authorize="isAuthenticated()" href="#"><i
							class="fas fa-sign-out-alt"></i></a>
						<form id="form-login" th:action="@{/logout}" method="POST"></form>
					</li>
					<li class="nav-item"><a class="nav-link btn text-light modi"
						sec:authorize="!isAuthenticated()" href="/login">Login <i
							class="fas fa-sign-in-alt"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div th:fragment="sidebar" class="bg-dark" style="max-height: 500vh;">
		<nav class="navbar navbar-dark bg-dark d-flex flex-column"
			style="position: relative; margin: 0px;">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#sidebar"
					aria-controls="sidebar" aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fas fa-list"></i>
				</button>
			</div>
		</nav>
		<div class="collapse" id="sidebar">
			<div class="d-flex flex-column p-3 text-white bg-dark"
				style="min-width: 250px; max-height: 60vh; position: relative">

				<a
					class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
					<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap" />
			</svg> <span class="fs-4">DashBoard</span>
				</a>
				<hr>
				<ul class="nav nav-pills flex-column mb-auto sidebar">
					<li><a href="/alunos/0"
						sec:authorize="hasAnyAuthority('Personal')"
						class="nav-link text-white"><svg class="bi me-2" width="16"
								height="16"></svg><i class="fas fa-address-card"></i> Meus Alunos</a></li>
					<li><a href="/calendario"
						sec:authorize="hasAnyAuthority('Usuario')"
						class="nav-link text-white"><svg class="bi me-2" width="16"
								height="16"></svg><i class="far fa-calendar-alt"></i> Agendar
							Aula</a></li>
					<li><a href="/calendario"
						sec:authorize="hasAnyAuthority('Personal')"
						class="nav-link text-white"><svg class="bi me-2" width="16"
								height="16"></svg><i class="far fa-calendar-alt"></i> Calendário</a></li>
					<li><a href="#" sec:authorize="hasAnyAuthority('Usuario')"
						class="nav-link text-white"><svg class="bi me-2" width="16"
								height="16"></svg><i class="far fa-credit-card"></i> Meu Plano</a></li>
					<li><a href="/inseriraula"
						sec:authorize="hasAnyAuthority('Personal')"
						class="nav-link text-white"><svg class="bi me-2" width="16"
								height="16"></svg><i class="far fa-edit"></i> Criar Aula</a></li>
					<hr sec:authorize="hasAnyAuthority('Usuario')">
					<li><a href="/aulas/"
						sec:authorize="hasAnyAuthority('Usuario')"
						class=" btn text-white text-decoration-none"><i
							class="fas fa-book"></i> Minhas Aulas</a></li>
					<hr>
					<li>
						<div class="dropdown">
							<a href="#"
								class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1" data-bs-toggle="dropdown"
								aria-expanded="true"> <img th:src="'https://compersonal-bucket.s3.amazonaws.com/'+${perfil.foto}"
								alt="Perfil" class="rounded-circle me-2" width="32" height="32">
								<strong>Perfil</strong>
							</a>
							<ul class="dropdown-menu dropdown-menu-dark text-small shadow"
								aria-labelledby="dropdownUser1"
								style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -34px);"
								data-popper-placement="top-start">
								<li><a class="dropdown-item" href="/perfil">Meu perfil</a></li>
								<li><a class="dropdown-item" href="#"
									onclick="document.querySelector('#form-login').submit()"
									sec:authorize="isAuthenticated()">Sair</a>
									<form id="form-login" th:action="@{/logout}" method="POST"></form>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<footer th:fragment="footer" class="footer background-footer">
		<div class="m-1">
			<div class="container text-center">
				<span class="text-light"> Contato: (71) 9 9999-0000</span>
			</div>
		</div>
	</footer>
	<div th:fragment="script">
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
			crossorigin="anonymous"></script>
	</div>
	<div th:fragment="calendar">
		<script src='js/moment.min.js'></script>
		<script src='js/jquery.min.js'></script>
		<script src='js/fullcalendar.min.js'></script>
		<script src='locale/pt-br.js'></script>
		<script>
			$(document)
					.ready(
							function() {
								$('#calendar')
										.fullCalendar(
												{
													header : {
														left : 'prev,next today',
														center : 'title',
														right : 'month,agendaWeek,agendaDay'
													},
													defaultDate : Date(),
													navLinks : true,
													editable : false,
													minTime : "06:00:00",
													maxTime : "21:00:00",
													eventLimit : true,
													selectable : true,
													allDaySlot : false,
													weekNumbers : true,
													fixedWeekCount : false,
													selectHelper : true,
													select : function(start,
															end) {
														$('#agendar #start')
																.val(
																		moment(start));
														$('#agendar #end').val(
																moment(end));
														$('#agendar #start')
																.text(
																		start
																				.format('DD/MM/YYYY HH:mm'));
														$('#agendar #end')
																.text(
																		end
																				.format('DD/MM/YYYY HH:mm'));
														$('#agendar').modal(
																'show');
													},
													eventClick : function(event) {

														$('#visualizar #title')
																.text(
																		event.title);
														$('#visualizar #aluno')
																.text(
																		event.aluno);
														$('#visualizar #email')
																.text(
																		event.email);
														$('#visualizar #start')
																.text(
																		event.start
																				.format('DD/MM/YYYY HH:mm'));
														$('#visualizar #end')
																.text(
																		event.end
																				.format('DD/MM/YYYY HH:mm'));
														$('#visualizar #start')
																.val(
																		event.start);
														$('#visualizar #end')
																.val(
																		event.end
																				.format('YYYY-MM-DD HH:mm:ss'));
														$('#visualizar').modal(
																'show');
														return false;

													},
													events : {
														url : 'calendario/getEventos.json'
													},
												});
							});
		</script>
	</div>

</body>

</html>