<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<!-- Tópico 1 e 1.1 -->

<head th:replace="~{base::head(Cadastro)}"></head>


<body class="background">
	<main class="geral">
		<div>
		<nav th:replace="~{base::navbar}"></nav>

		<article class="container ">
			<div class="row align-items-baseline fonte">
				<div class="col-6">
					<article class="card mt-5 background-card2">
						<div class="card-body ">
							<h1>Seja bem-vindo!</h1>
							<p>Já tem uma conta conosco?</p>
							<a href="/login" class="btn borda-botao botao-test">Faça Login</a>
						</div>
					</article>
				</div>
				<div class=" col-6">
					<article class="card cor-borda mt-5 background-card">
						<form th:object="${usuarioDto}" class="card-body"
							th:action="@{/cadastro/novo}" method="POST">
							<legend>Faça seu cadastro</legend>
							<div class="row g-3 mb-3">
								<div class="col">
									<input th:field="*{primeiroNome}" class="form-control"
										th:errorclass="is-invalid" placeholder="Primeiro Nome">
									<div class="invalid-feedback" th:errors="*{primeiroNome}">Errors
										do primeiro nome</div>
								</div>
								<div class="col">
									<input th:field="*{ultimoNome}" class="form-control"
										th:errorclass="is-invalid" placeholder="Último nome">
									<div class="invalid-feedback" th:errors="*{ultimoNome}">Errors
										do último nome</div>
								</div>
							</div>

							<div class="mb-3">
								<input th:field="*{email}" type="email" class="form-control"
									th:errorclass="is-invalid" placeholder="Email">
								<div class="invalid-feedback" th:errors="*{email}">Errors
									do email</div>
							</div>
							<div class="mb-3">
								<input th:field="*{telefone}" type="tel" class="form-control"
									th:errorclass="is-invalid" placeholder="Telefone">
								<div class="invalid-feedback" th:errors="*{telefone}">Errors
									do telefone</div>
							</div>
							<div class="mb-3">
								<input th:field="*{senha}" type="password" class="form-control"
									th:errorclass="is-invalid" placeholder="Senha">
								<div class="invalid-feedback" th:errors="*{senha}">Errors
									da senha</div>
							</div>
							<div class="mb-3">
								<input th:field="*{confirmacaoSenha}" type="password"
									class="form-control" th:errorclass="is-invalid"
									placeholder="Confirme a Senha">
								<div class="invalid-feedback" th:errors="*{confirmacaoSenha}">Errors
									da confirmacaoSenha</div>
							</div>
							<button type="submit" class="btn cor-botao">Registar</button>
						</form>
					</article>
				</div>
			</div>
		</article>
	</div>
		<footer th:replace="~{base::footer}"></footer>
		<script th:replace="~{base::script}"></script>
</main>
</body>
</html>