<!DOCTYPE html>
<html lang="pt-br">

<!--Sem Tópico -->
<meta charset="UTF-8">

<head th:replace="~{base :: head(Perfil)}"></head>

<body class="background">
	<div class="geral ">
		<nav th:replace="~{base::navbar}"></nav>
		
		<div class="container">
			<div class="row rounded-lg overflow-hidden shadow">
				<!-- Chat Box-->
				<article class="col-8 px-0 card container ">
					<div class="chat-box bg-white" style="min-height: 80vh;">
						<div th:each="mensagem: ${mensagens}" th:switch="${mensagem.destinatarioId}" class="card-body">
							<!-- Mensagem do Aluno -->
							<div th:case="${perfil.id}" class="d-flex justify-content-start mb-0">
								<img src="https://www.cursosabrafordes.com.br/webroot/img/cur_cursos/foto_1495509835.jpeg"
									alt="aluno" width="35" height="35" class="rounded-circle">
								<div class=" ml-3">
									<div class="bg-light  form-control">
										<label th:text="${mensagem.texto}" class="mb-0 text-muted"></label>
									</div>
									<small th:text="${mensagem.horaFormatada}" class="text-muted"></small>
								</div>
							</div>
							<!-- Mensagem do Instrutor -->
							<div th:case="${personal.id}" class="d-flex justify-content-end mb-0">
								<div class="align-items-center">
									<div class="cor-botao borda-botao rounded form-control">
										<p th:text="${mensagem.texto}" class="mb-0 text-white"></p>
									</div>
									<p type="date" th:text="${mensagem.horaFormatada}" class="text-muted" style="text-align: right;"></p>
								</div>
							</div>
						</div>
					</div>

					<form th:object="${mensagemDto}" th:action="@{/mensagem/novaMensagemAluno}" method="POST"
						class="bg-light">
						<div class="input-group">
							<input th:field="*{corpoDaMensagem}" placeholder="Escreva uma mensagem"
								class="form-control rounded-0 border-0 py-4 bg-light">
							<div class="input-group-append">
								<input type="hidden" name="email" th:value="${perfil.email}">
								<button type="submit" class="btn cor-botao">Enviar</button>
							</div>
						</div>
					</form>
				</article>
			</div>
		</div>
		<script th:replace="~{base::script}"></script>
	</div>
</body>

</html>