<!DOCTYPE html>
<html lang="pt-br">

<!--Sem Tópico -->
<meta charset="UTF-8">

<head th:replace="~{base :: head(Perfil)}"></head>

<body class="background">
	<div class="geral ">
		<nav th:replace="~{base::navbar}"></nav>
		<div class="container p-2">
			<!-- For demo purpose-->
			<div class="row rounded-lg overflow-hidden shadow">
				<!-- Users box-->
				<article class="col-4 px-0" style="background-color: white;">
					<div class="bg-white">

						<div class="bg-gray px-4 py-2 bg-light">
							<p class="h5 mb-0 py-1">Mensagens</p>
						</div>

						<div class="messages-box">
							<!-- campo com a lista de alunos -->
							<div class="list-group rounded-0" style="background-color: white;">

								<a th:each="aluno : ${alunos}" th:href="${aluno.email}"
									class="list-group-item list-group-item-action rounded-0">
									<!-- class="list-group-item list-group-item-action active text-white rounded-0" -->
									<div class="d-flex align-items-center justify-content-between mb-1">
										<img src="https://www.cursosabrafordes.com.br/webroot/img/cur_cursos/foto_1495509835.jpeg"
											alt="user" width="50" height="50" class="rounded-circle">
										<div>
											<h6 th:text="${aluno.primeiroNome}" class="mb-0"></h6>
											<small class="small font-weight-bold">data</small>
										</div>

									</div>
								</a>
								<!-- <a href="#" class="list-group-item list-group-item-action rounded-0">
									<img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
										alt="user" width="50" class="rounded-circle">
									<div class="d-flex align-items-center justify-content-between mb-1">
										<h6 class="mb-0">Jason Doe</h6>
										<small class="small font-weight-bold">25 Dec</small>
									</div>
								</a> -->

								<!-- <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
									<div class="media"><img
											src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
											alt="user" width="50" class="rounded-circle">
										<div class="media-body ml-4">
											<div class="d-flex align-items-center justify-content-between mb-1">
												<h6 class="mb-0">Jason Doe</h6>
												<small class="small font-weight-bold">14 Dec</small>
											</div>
										</div>
									</div>
								</a> -->

							</div>
						</div>

					</div>
				</article>

				<!-- Chat Box-->
				<article class="col-8 px-0">
					<div class="px-4 py-5 chat-box bg-white" style="min-height: 80vh;">
						<!-- Sender Message-->
						<div th:each="mensagem: ${mensagens}" th:switch="${mensagem.destinatarioId}"
							class="media w-50 mb-3">
							<div th:case="'1'">
								<img src="https://www.cursosabrafordes.com.br/webroot/img/cur_cursos/foto_1495509835.jpeg"
									alt="user" width="50" height="50" class="rounded-circle">
								<div class="media-body ml-3">
									<div class="bg-light rounded py-2 px-3 mb-2">
										<p th:text="${mensagem.texto}" class="text-small mb-0 text-muted"></p>
									</div>
									<!-- <p class="small text-muted">hora | data</p> -->
									<p th:text="${mensagem.dataEHorario}" class="small text-muted"></p>
								</div>
							</div>

							<div th:case="'4'" class="media-body">
								<div class="cor-botao rounded py-2 px-3 mb-2">
									<p th:text="${mensagem.texto}" class="text-small mb-0 text-white"></p>
								</div>
								<!-- <p class="small text-muted">hora | data</p> -->
								<p th:text="${mensagem.dataEHorario}" class="small text-muted"></p>
								
							</div>
						</div>

						<!-- Sender Message-->
						<!-- 	<div class="media w-50 mb-3"><img
								src="https://www.cursosabrafordes.com.br/webroot/img/cur_cursos/foto_1495509835.jpeg"
								alt="user" width="50" height="50" class="rounded-circle">
							<div class="media-body ml-3">
								<div class="bg-light rounded py-2 px-3 mb-2">
									<p class="text-small mb-0 text-muted">Mensagem do Aluno</p>
								</div>
								<p class="small text-muted">hora | data</p>
							</div>
						</div> -->

						<!-- Reciever Message-->
						<!-- <div class="media w-50 ml-auto mb-3">
							<div class="media-body">
								<div class="cor-botao rounded py-2 px-3 mb-2">
									<p class="text-small mb-0 text-white">Mensagem do instrutor
									</p>
								</div>
								<p class="small text-muted">hora | data</p>
							</div>
						</div> -->

					</div>

					<!-- Typing area -->
					<form action="#" class="bg-light">
						<div class="input-group">
							<input type="text" placeholder="Escreva uma mensagem" aria-describedby="button-addon2"
								class="form-control rounded-0 border-0 py-4 bg-light">
							<div class="input-group-append">
								<button id="button-addon2" type="submit" class="btn btn-link">>
									<!-- <i class="fa fa-paper-plane"></i> -->
								</button>
							</div>
						</div>
					</form>

				</article>
			</div>
		</div>
		<script th:replace="~{base::script}"></script>
	</div>
</body>

</html>