<div th:fragment="chat">
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" m
        style="max-width: 300px; min-height: 300px;">
        <div class="offcanvas-header mb-0">
            <h5 id="offcanvasRightLabel">Chat</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div class="form">
                <label class="form-control">Ùltima mensagem do instrutor vem aqui.</label>
                <input class="form-control" placeholder="Deixe uma dúvida"></input>
            </div>

        </div>
    </div>
</div>