<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<!-- Tópico 3, preview 3.1, 3.4 -->

<head th:replace="~{base::head(Login)}"></head>

<body class="background">
	<main class="geral">
		<div>
		<nav th:replace="~{base::navbar}"></nav>

		<article class="d-flex align-items-stretch">

			<div th:replace="~{base::sidebar}"></div>
			<div class="container">
				<div class="p-5">
					<div class="row d-flex justify-content-between">
						<div class="row card mb-3 col-md-5 col-lg-6" th:each="aula : ${aulas}">
							<div class="g-0">
								<iframe class="p-2 col-lg-12 col-12 col-sm-12 col-md-12 ratio ratio-16x9" max-width="560" height="315"
									th:src="${aula.video}" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
								<div class="card-body col-lg-5">
									<a th:href="${aula.titulo}" class="link-dark">
										<h5 class="card-title" th:text="${aula.titulo}"></h5>
									</a>
									<p class="card-text" th:text="${aula.descricao}">Descrição
										da Aula</p>
									<a th:href="${aula.pdf}" target="_blank" class="btn cor-botao">Baixe
										o material</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</article>

		</div>
		<footer th:replace="~{base::footer}"></footer>
		<script th:replace="~{base::script}"></script>
	</main>
</body>

</html>