<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<head th:replace="~{base::head(Controle)}"></head>

<body class="background">
	<div class="geral">
		<nav th:replace="~{base::navbar}"></nav>

		<article class="d-flex align-items-stretch">

			<div th:replace="~{base::sidebar}"></div>
			<div class="container">
				<div class="card col-auto mx-auto mb-5 mt-2 ">
					<form class=" col-10 mb-4 mt-3 mx-auto" th:object="${aulaDto}"
						th:action="@{/inseriraula/nova}" method="POST">
						<div class="mb-2">
							<label for="titulo" class="form-label">Título</label> <input
								type="text" class="form-control" th:field="*{titulo}"
								th:errorclass="is-invalid" placeholder="Escreva o título">
							<div class="invalid-feedback" th:errors="*{titulo}">Errors
								do titulo</div>
						</div>
						<div class="mb-2">
							<label for="video" class="form-label">URL do vídeo</label> <input
								th:errorclass="is-invalid" type="text" class="form-control"
								th:field="*{video}" placeholder="URL do vídeo">
							<div class="invalid-feedback" th:errors="*{video}">Errors
								do video</div>
						</div>
						<div class="mb-2">
							<label for="descricao" class="form-label">Descrição</label>
							<textarea class="form-control" th:errorclass="is-invalid"
								th:field="*{descricao}" rows="3" placeholder="Por favor, descreva a atividade física a ser realizada."></textarea>
							<div class="invalid-feedback" th:errors="*{descricao}">Errors
								da descricao</div>
						</div>
						<div class="mb-2">
							<label for="pdf" class="form-label">Arquivo PDF</label> <input
								th:errorclass="is-invalid" th:field="*{pdf}"
								class="form-control" type="text" placeholder="URL do pdf">
							<div class="invalid-feedback" th:errors="*{pdf}">Errors do
								pdf</div>
						</div>
						</br> <label for="tipo" class="form-label">Escolha o tipo:</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" th:field="*{tipo}"
								th:errorclass="is-invalid" value="Glúteo"> <label
								class="form-check-label" for="tipo"> Glúteo </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" th:field="*{tipo}"
								th:errorclass="is-invalid" value="Abdômen"> <label
								class="form-check-label" for="tipo"> Abdômen </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" th:field="*{tipo}"
								th:errorclass="is-invalid" value="Pernas"> <label
								class="form-check-label" for="tipo"> Pernas </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" th:field="*{tipo}"
								th:errorclass="is-invalid" value="Braços"> <label
								class="form-check-label" for="tipo"> Braços </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" th:field="*{tipo}"
								th:errorclass="is-invalid" value="Peito"> <label
								class="form-check-label" for="tipo"> Peito </label>
						</div>
						<div class="invalid-feedback" th:errors="*{tipo}">Errors do
							pdf</div>
						</br> </br>
						<button type="submit" class="btn btn-danger">Adicionar</button>
					</form>
				</div>
			</div>
		</article>

		<footer th:replace="~{base::footer}"></footer>
		<script th:replace="~{base:: script}"></script>
	</div>
</body>
</html>