<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<head th:replace="~{base::head(Controle)}"></head>
<body class="background">
	<div class="geral">
		<nav th:replace="~{base::navbar}"></nav>

		<article class="d-flex align-items-stretch">

			<div th:replace="~{base::sidebar}"></div>
			
			<div class="card mx-auto mb-5 mt-2 " style="width: 30rem">
				<form class="mb-4 mt-3 mx-auto" style="width: 25rem">
					<div class="mb-2">
						<label for="exampleFormControlInput1" class="form-label">Título</label>
						<input type="text" class="form-control"
							id="exampleFormControlInput1" placeholder="Escreva o título">
					</div>
					<div class="mb-2">
						<label for="exampleFormControlInput1" class="form-label">URL do vídeo</label> 
						<input type="text" class="form-control"
							id="exampleFormControlInput1" placeholder="URL do vídeo">
					</div>
					<div class="mb-2">
						<label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
						<textarea class="form-control" id="exampleFormControlTextarea1"
							rows="3"></textarea>
					</div>
					<div class="mb-2">
						<label for="formFile" class="form-label">Arquivo PDF</label> 
						<input class="form-control" type="file" id="formFile">
					</div> </br>
					<div>
						<label for="exampleFormControlInput1" class="form-label">Escolha o tipo</label> 
						<div class="btn-group">
						  <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						    Exercício
						  </button>
						  <ul class="dropdown-menu">
						    <li><a class="dropdown-item" href="#">Glúteo</a></li>
						    <li><a class="dropdown-item" href="#">Abdômen</a></li>
						    <li><a class="dropdown-item" href="#">Pernas</a></li>
						    <li><a class="dropdown-item" href="#">Braços</a></li>
						    <li><a class="dropdown-item" href="#">Peito</a></li>
						  </ul>
						</div>
					</div>
						</br></br>					
					<button type="submit" class="btn btn-danger">Adicionar</button>
				</form>
			</div>
		</article>

		<footer th:replace="~{base::footer}"></footer>
		<!-- JavaScript Bundle with Popper -->
		<script th:replace="~{base:: script}"></script>
	</div>
</body>
</html>