<!doctype html>
<html lang="pt-br">
<meta charset="UTF-8">

<!-- Tópico 3.5 -->

<head th:replace="~{base :: head(Perfil)}"></head>

<body class="background">
	<main class="geral">
		<div>
			<nav th:replace="~{base::navbar}"></nav>


			<article class="d-flex align-items-stretch">

				<div th:replace="~{base::sidebar}"></div>

				<div class="container mt-3 mb-5 p-2">
					<div class="col-md-12 col-lg-12">
						<div class="card">
							<h5 class="card-header">Meu Plano</h5>
							<form th:object="${plano}" class="card-body mb-0 mt-3 pb-0">
								<div class="row g-3">
									<div class="col-sm-6">
										<label for="nome" class="form-label">Plano:</label> <input
											th:field="*{nome}" class="form-control" disabled>
									</div>

									<div class="col-sm-6">
										<label for="valor" class="form-label">Valor:</label> <input
											th:field="*{valor}" type="text" class="form-control" disabled>
									</div>

									<div class="col-sm-6">
										<label for="dataFinal" class="form-label">Data final:</label>
										<input th:value="${dataFinal}" type="text"
											class="form-control" disabled>
									</div>

									<div class="col-sm-6 ">
										<div class="d-flex justify-content-between">
											<label for="situacao" class="form-label">Situação:</label>
										</div>
										<input type="text" class="form-control" th:value="${situacao}"
											disabled>
									</div>
								</div>
							</form>
							<br class="mb-0 mt-5" th:if="${info}==null">

						</div>
					</div>
				</div>
			</article>
		</div>
		<footer th:replace="~{base::footer}"></footer>
		<script th:replace="~{base::script}"></script>
	</main>
</body>

</html>