<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<!-- Tópico 3, preview 3.1, 3.4 -->

<head th:replace="~{base::head(Aulas)}"></head>

<body class="background">
	<main class="geral">

			<nav th:replace="~{base::navbar}"></nav>

			<article class="d-flex align-items-stretch">
				<div th:replace="~{base::sidebar}"></div>
				<div class="container mt-3 mb-5 p-2">
					<div class="mt-2 alert alert-danger alert-dismissible fade show pb-0"
						role="alert" th:if="${erro}=='1'">
						<p>Essa aula está associada a algum aluno!</p>
						<button type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>
					<div class="p-5">
						<div th:if="${erroAlunoSemAula}!=null"
							class="mt-2 alert alert-danger alert-dismissible fade show"
							role="alert">
							<span th:text="${erroAlunoSemAula}"></span>
							<button type="button" class="btn-close" data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
						<div class="row d-flex justify-content-between">
							<div class="row card mb-3 col-md-6 col-lg-6"
								th:each="aula : ${aulas}">
								<div class="g-0">
									<iframe
										class="p-2 col-lg-12 col-12 col-sm-12 col-md-12 ratio ratio-16x9"
										max-width="560" height="315" th:src="${aula.video}"
										frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
									<div class="card-body col-lg-12">

										<h5 class="card-title" th:text="${aula.titulo}"></h5>

										<p class="card-text" th:text="${aula.descricao}">Descrição
											da Aula</p>
										<form th:action="@{/aulas/minhasAulas/delete}" method="POST">
											<input type="hidden" th:value="${aula.titulo}" name="titulo">
											<button type="submit" class="btn cor-botao">Apagar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<div class="d-flex justify-content-center mb-5">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a
							class="page-link borda-page botao-test" th:if="${pagina-1}>=0"
							th:href="${pagina-1}"> <span aria-hidden="true">&laquo;</span></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test" th:if="${pagina-1}<0"
							th:href="${numeroPagina-1}"> <span aria-hidden="true">&laquo;</span></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test" th:text="${pagina+1}"></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test"
							th:if="${pagina+1}!=${numeroPagina}" th:href="${pagina+1}"> <span
								aria-hidden="true">&raquo;</span></a></li>
						<li class="page-item"><a
							class="page-link borda-page botao-test"
							th:if="${pagina+1}==${numeroPagina}" th:href="0"> <span
								aria-hidden="true">&raquo;</span></a></li>
					</ul>
				</nav>
			</div>

		<footer th:replace="~{base::footer}"></footer>
		<script th:replace="~{base::script}"></script>
	</main>
</body>

</html>